@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
  color: #3B99FC;
}

a:active, a:focus, a:hover {
  outline-width: 0;
  text-decoration: none;
  outline: none;
}

label {
  font-weight: 400;
}

fieldset, img {
  border: 0;
}

html {
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

body, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

button, input, select, textarea {
  font-size: 100%;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

del {
  text-decoration: line-through;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

audio,
video {
  display: inline-block;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

td {
  word-break: break-all;
  word-wrap: break-word;
}

textarea {
  resize: none;
}

iframe {
  display: block;
}

/*float*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}

.clear {
  clear: both;
}

/*盒模型*/
*, *:before, *:after {
  -wekbit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*被选中的文本背景颜色*/
::-webkit-selection {
  color: #fff;
  background: #3B99FC;
}

::-moz-selection {
  color: #fff;
  background: #3B99FC;
}

::selection {
  color: #fff;
  background: #3B99FC;
}

/*placeholder颜色*/
::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

/*margin*/
.mt0 {
  margin-top: 0px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

/*padding*/
.pt0 {
  padding-top: 0px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pd5 {
  padding: 5px;
}

.pd10 {
  padding: 10px;
}

.pd15 {
  padding: 15px;
}

.pd20 {
  padding: 20px;
}

/*width*/
.w10 {
  width: 10px;
}

.w20 {
  width: 20px;
}

.w30 {
  width: 30px;
}

.w40 {
  width: 40px;
}

.w50 {
  width: 50px;
}

.w60 {
  width: 60px;
}

.w70 {
  width: 70px;
}

.w80 {
  width: 80px;
}

.w90 {
  width: 90px;
}

.w100 {
  width: 100px;
}

.w110 {
  width: 110px;
}

.w120 {
  width: 120px;
}

.w130 {
  width: 130px;
}

.w140 {
  width: 140px;
}

.w150 {
  width: 150px;
}

.w160 {
  width: 160px;
}

.w170 {
  width: 170px;
}

.w180 {
  width: 180px;
}

.w190 {
  width: 190px;
}

.w200 {
  width: 200px;
}

.w210 {
  width: 210px;
}

.w220 {
  width: 220px;
}

.w230 {
  width: 230px;
}

.w240 {
  width: 240px;
}

.w250 {
  width: 250px;
}

.w260 {
  width: 260px;
}

.w270 {
  width: 270px;
}

.w280 {
  width: 280px;
}

.w290 {
  width: 290px;
}

.w300 {
  width: 300px;
}

/*form*/
/*btn*/
.btn {
  display: inline-block;
  font-size: 14px;
  color: #333;
  min-width: 80px;
  height: 30px;
  line-height: 20px;
  padding: 4px 10px;
  border: 1px solid #EFEFEF;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-transition: border-color ease-in-out .15s,color ease-in-out .15s, background ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,color ease-in-out .15s, background ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,color ease-in-out .15s, background ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,color ease-in-out .15s, background ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.btn:hover {
  color: #3B99FC;
  border-color: #3B99FC;
  -webkit-box-shadow: 0 0 4px rgba(59, 153, 252, 0.4);
          box-shadow: 0 0 4px rgba(59, 153, 252, 0.4);
}
.btn.btn-default {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
.btn.btn-default:hover {
  background: #c7c7c7;
  border-color: #c7c7c7;
  color: #333;
}
.btn.btn-primary, .pagination .page-skip .btn {
  background: #ff8201;
  color: #fff;
  border-color: #ff8201;
}
.btn.btn-primary:hover, .pagination .page-skip .btn:hover {
  background: rgba(255, 130, 1, 0.8);
  border-color: rgba(255, 130, 1, 0.8);
}
.btn.btn-secondary {
  background: #0f9ae0;
  color: #fff;
  border-color: #0f9ae0;
}
.btn.btn-secondary:hover {
  background: rgba(15, 154, 224, 0.8);
  border-color: rgba(15, 154, 224, 0.8);
}
.btn.btn-disabled {
  background: #eaeded;
  color: #999;
  border-color: #eaeded;
  cursor: not-allowed;
}
.btn.btn-disabled:hover {
  background: #eaeded;
  border-color: #eaeded;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn.btn-success {
  background: #5eb95e;
  color: #fff;
  border-color: #5eb95e;
}
.btn.btn-success:hover {
  background: rgba(94, 185, 94, 0.8);
  border-color: rgba(94, 185, 94, 0.8);
}
.btn.btn-warning {
  background: #F6BA29;
  color: #fff;
  border-color: #F6BA29;
}
.btn.btn-warning:hover {
  background: rgba(246, 186, 41, 0.8);
  border-color: rgba(246, 186, 41, 0.8);
}
.btn.btn-danger {
  background: #dd514c;
  color: #fff;
  border-color: #dd514c;
}
.btn.btn-danger:hover {
  background: rgba(221, 81, 76, 0.8);
  border-color: rgba(221, 81, 76, 0.8);
}
.btn.btn-sm {
  min-width: 60px;
  height: 24px;
  padding: 1px 10px;
}
.btn.btn-sm.btn-radius {
  border-radius: 12px;
}
.btn.btn-lg {
  height: 36px;
  padding: 7px 10px;
}
.btn.btn-lg.btn-radius {
  border-radius: 18px;
}
.btn.form-block {
  display: block;
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
}
.btn.btn-radius {
  border-radius: 15px;
}

.btn-left {
  text-align: left;
  font-size: 0;
}
.btn-left a {
  margin-right: 10px;
}

.btn-right {
  text-align: right;
  font-size: 0;
}
.btn-right a {
  margin-left: 10px;
}

.btn-center {
  text-align: center;
  font-size: 0;
}
.btn-center a {
  margin: 0 5px;
}

/*select*/
.select {
  min-width: 80px;
  height: 30px;
  line-height: 20px;
  border: 1px solid #EFEFEF;
  padding: 4px 10px;
  color: #333;
  text-indent: 0;
  text-align: left;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.select:focus, .select.focus {
  border-color: #3B99FC;
  -webkit-box-shadow: 0 0 4px rgba(59, 153, 252, 0.4);
          box-shadow: 0 0 4px rgba(59, 153, 252, 0.4);
}

select::-ms-expand {
  display: none;
}

/*input*/
.input-box {
  display: inline-block;
  position: relative;
}
.input-box .input, .input-box .textarea {
  width: 100%;
  vertical-align: top;
}
.input-box .select {
  width: 100%;
  vertical-align: top;
}
.input-box .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #DCDCDC;
  cursor: pointer;
  font-size: 18px;
}
.input-box .icon:hover {
  color: #3B99FC;
}

.input-city .input, .input-city .textarea, .input-date .input, .input-date .textarea {
  padding-right: 30px;
}

.input, .textarea {
  height: 30px;
  line-height: 20px;
  border: 1px solid #EFEFEF;
  padding: 4px 10px;
  color: #333;
  background-color: #fff;
  color: #333;
  outline: none;
  font-size: 14px;
  border-radius: 0;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.input:focus, .textarea:focus, .input.focus, .focus.textarea {
  border-color: #3B99FC;
  -webkit-box-shadow: 0 0 4px rgba(59, 153, 252, 0.4);
          box-shadow: 0 0 4px rgba(59, 153, 252, 0.4);
}
.input.input-sm, .input-sm.textarea {
  height: 24px;
  padding: 1px 10px;
}
.input.input-lg, .input-lg.textarea {
  height: 36px;
  padding: 7px 10px;
}
.input.input-error, .input-error.textarea {
  border-color: #E12525;
  color: #E12525;
}

.textarea {
  height: 70px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*checkbox,radio*/
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

/*-----icheck插件样式-----*/
.icheckbox,
.iradio {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background-image: url("../images/check.png");
  background-image: -webkit-image-set(url("../images/check.png") 1x, url("../images/check@2x.png") 2x);
  background-image: image-set(url("../images/check.png") 1x, url("../images/check@2x.png") 2x);
}

.icheckbox.checked {
  background-position: -16px 0;
  -webkit-animation: scale-spring .2s;
  animation: scale-spring .2s;
}

.iradio {
  background-position: -32px 0;
}

.iradio.checked {
  background-position: -48px 0;
  -webkit-animation: scale-spring .2s;
  animation: scale-spring .2s;
}

.check-inline {
  position: relative;
  display: inline-block;
  line-height: 30px;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
  margin-right: 10px;
}
.check-inline .iradio, .check-inline .icheckbox {
  float: left;
  margin-left: -20px;
  margin-top: 7px;
}

/*file*/
input[type="file"] {
  display: block;
}

.file {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.file input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  font-size: 100px;
}

/*check*/
.check-list {
  *zoom: 1;
}
.check-list:before, .check-list:after {
  content: "";
  display: table;
}
.check-list:after {
  clear: both;
  overflow: hidden;
}
.check-list li {
  float: left;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.check-list li i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin-top: 7px;
  margin-right: 10px;
  background-image: url("../images/check.png");
  background-image: -webkit-image-set(url("../images/check.png") 1x, url("../images/check@2x.png") 2x);
  background-image: image-set(url("../images/check.png") 1x, url("../images/check@2x.png") 2x);
}
.check-list .active i {
  background-position: -16px 0;
  -webkit-animation: .3s scale-spring;
          animation: .3s scale-spring;
}

.check-list-right li i {
  margin-right: 0;
  margin-left: 10px;
}

.radio-list {
  *zoom: 1;
}
.radio-list:before, .radio-list:after {
  content: "";
  display: table;
}
.radio-list:after {
  clear: both;
  overflow: hidden;
}
.radio-list li {
  float: left;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.radio-list li i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin-top: 7px;
  margin-right: 10px;
  background-image: url("../images/check.png");
  background-image: -webkit-image-set(url("../images/check.png") 1x, url("../images/check@2x.png") 2x);
  background-image: image-set(url("../images/check.png") 1x, url("../images/check@2x.png") 2x);
  background-position: -32px 0;
}
.radio-list .active i {
  background-position: -48px 0;
  -webkit-animation: .3s scale-spring;
          animation: .3s scale-spring;
}

/*网站通用样式*/
.ml {
  margin-left: 10px !important;
}

.ml-sm {
  margin-left: 5px !important;
}

.ml-lg {
  margin-left: 20px !important;
}

.mr {
  margin-right: 10px !important;
}

.mr-sm {
  margin-right: 5px !important;
}

.mr-lg {
  margin-right: 20px !important;
}

.mt {
  margin-top: 10px !important;
}

.mt-sm {
  margin-top: 5px !important;
}

.mt-lg {
  margin-top: 20px !important;
}

.mb {
  margin-bottom: 10px !important;
}

.mb-sm {
  margin-bottom: 5px !important;
}

.mb-lg {
  margin-bottom: 20px !important;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.txt-default {
  color: #333 !important;
}

.txt-primary {
  color: #3B99FC !important;
}

.txt-light,
.txt-tips {
  color: #666 !important;
}

.txt-lighter {
  color: #999 !important;
}

.txt-lightest {
  color: #fff !important;
}

.txt-success {
  color: #5eb95e !important;
}

.txt-error {
  color: #E12525 !important;
}

.txt-warning {
  color: #F6BA29 !important;
}

.txt-danger {
  color: #dd514c !important;
}

.txt-disabled {
  color: #eaeded !important;
}

.txt-price {
  color: #ff8201 !important;
}

.txt-lg {
  font-size: 16px !important;
}

.txt-mlg {
  font-size: 18px !important;
}

.txt-blg {
  font-size: 20px !important;
}

.txt-sm {
  font-size: 12px !important;
}

.txt-md {
  font-size: 14px !important;
}

.underline {
  text-decoration: underline;
}

.required {
  color: #f00;
  font-weight: 400;
}

.wrapper {
  width: 1200px;
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
}

/*三角形*/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 4px;
  cursor: pointer;
  border-style: solid dashed dashed dashed;
  border-color: #EFEFEF transparent transparent transparent;
  border-bottom: none;
}

/*图片划入缩放*/
.img-scale {
  overflow: hidden;
}
.img-scale img {
  -webkit-transition: .3s linear transform;
  transition: .3s linear transform;
}
.img-scale img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

/*section*/
.section {
  padding-top: 30px;
}
.section .section-hd {
  height: 40px;
  border-bottom: 2px solid #EFEFEF;
}
.section .section-hd .more {
  float: right;
  line-height: 38px;
  color: #999;
}
.section .section-hd .more:hover {
  color: #3B99FC;
}
.section .section-tit {
  float: left;
  position: relative;
  font-size: 16px;
  line-height: 38px;
  height: 38px;
  color: #3B99FC;
  padding: 0 4px;
}
.section .section-tit:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: #3B99FC;
}

/*金钱*/
.txt-price {
  color: #ff8201;
}
.txt-price .rmb {
  font-style: normal;
}

/*返回顶部*/
.gototop {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s linear opacity;
  transition: 1s linear opacity;
}
.gototop a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #EFEFEF;
}
.gototop .icon {
  font-size: 20px;
  color: #666;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}

/*遮罩层*/
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  z-index: 5000;
}

/*弹窗*/
.modal {
  position: absolute;
  top: 100px;
  left: 50%;
  top: 50%;
  width: 600px;
  height: auto;
  border: 1px solid #3B99FC;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  background: #3B99FC;
  z-index: 4000;
  overflow: hidden;
  zoom: 1;
  display: none;
}
.modal .modal-header {
  height: 30px;
  line-height: 30px;
  color: #fff;
  padding: 0 10px;
  border-radius: 4px 4px 0 0;
  position: relative;
  font-size: 16px;
}
.modal .modal-header a {
  color: #fff;
}
.modal .modal-close {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #666;
  font-size: 12px;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
}
.modal .modal-close:hover {
  color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.modal .modal-body {
  border-top: 1px solid #66c9ea;
  padding: 10px;
  background: #fff;
}
.modal .modal-footer {
  padding: 0 10px 10px 10px;
  text-align: center;
  background: #fff;
}
.modal .modal-footer a {
  margin-left: 10px;
}

.modal-mini {
  width: 360px;
}
.modal-mini .result-bd {
  padding-left: 65px;
  padding-bottom: 10px;
  margin: 10px 30px 0 30px;
}

/*结果页*/
.box-result {
  border: 1px solid #3B99FC;
  padding: 20px;
}
.box-result .result-bd {
  margin: 0 200px;
}
.box-result .btn-group-center {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px dashed #EFEFEF;
}

.result-bd {
  padding-left: 90px;
  position: relative;
  _height: 45px;
  min-height: 45px;
  line-height: 20px;
  padding-top: 5px;
}
.result-bd .result-img {
  position: absolute;
  top: 0;
  left: 0;
}
.result-bd .result-tit {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  margin-bottom: 5px;
}

.result-bd-mini {
  min-height: 40px;
  line-height: 40px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.result-bd-mini .result-tit {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}

/*面包屑*/
.breadcrumb {
  height: 50px;
  line-height: 50px;
  color: #666;
  font-size: 12px;
}
.breadcrumb a {
  color: #666;
}
.breadcrumb a:hover {
  color: #3B99FC;
}
.breadcrumb .active {
  color: #3B99FC;
}
.breadcrumb .sep {
  font-family: "5B8B\4F53";
  margin: 0 3px;
}

/*内容面板*/
.main-panel {
  border-top: 0;
  position: relative;
}
.main-panel .panel-hd {
  height: 40px;
  line-height: 40px;
  background: #3B99FC;
  padding: 0 20px;
  color: #fff;
}
.main-panel .panel-bd {
  border: 1px solid #EFEFEF;
  padding: 20px 19px;
}
.main-panel .panel-sub-title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}
.main-panel .panel-bd-bg {
  background: #FCFCFC;
  border: none;
}

/*内页查询*/
.search-box {
  background: #f8f8f8;
  border-radius: 1px;
  padding: 0px 20px 20px;
  border: 1px solid #EFEFEF;
}
.search-box .form-label {
  float: left;
  width: 75px;
  padding-right: 10px;
  text-align: right;
}
.search-box .form-label .required {
  margin-right: 3px;
}

.search-box-list {
  *zoom: 1;
}
.search-box-list:before, .search-box-list:after {
  content: "";
  display: table;
}
.search-box-list:after {
  clear: both;
  overflow: hidden;
}
.search-box-list li {
  float: left;
  margin: 20px 10px 0 0;
}
.search-box-list .form-label {
  line-height: 30px;
}
.search-box-list .btn {
  min-width: 100px;
  vertical-align: top;
}

/*无查询结果*/
.result-none {
  text-align: center;
  width: 100%;
  padding: 30px 0;
}
.result-none .result-pic {
  width: 240px;
  height: 144px;
  vertical-align: top;
}
.result-none .result-txt {
  font-size: 18px;
  color: #999;
  margin-top: 30px;
  line-height: 24px;
}

/*文章详情*/
.article-box {
  padding: 0 65px;
}
.article-box .title {
  line-height: 34px;
  margin: 0px 0 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.article-box .para-sub-title {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
.article-box .para-sub-title:before {
  content: "";
  float: left;
  width: 3px;
  height: 16px;
  background: #3B99FC;
  margin: 9px 10px 0 0;
}
.article-box .para-box {
  margin-top: 20px;
  line-height: 22px;
}
.article-box .img-box {
  text-align: center;
  margin-top: 30px;
}
.article-box .img-box img {
  max-width: 100%;
}

/*右侧悬浮菜单*/
.fixed-right {
  position: fixed;
  right: 0;
  bottom: 200px;
  z-index: 1100;
}

.fixed-right-menu {
  width: 50px;
}
.fixed-right-menu .menu-item {
  margin-bottom: 5px;
  background: #EFEFEF;
  text-align: center;
  width: 50px;
  position: relative;
}
.fixed-right-menu .menu-item:hover .menu-code {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.fixed-right-menu .menu-item .menu-hd {
  text-align: center;
  display: block;
  padding: 10px;
  color: #666;
}
.fixed-right-menu .menu-item .menu-hd:hover {
  color: #3B99FC;
}
.fixed-right-menu .menu-item .menu-name {
  line-height: 18px;
}
.fixed-right-menu .menu-item .icon {
  display: block;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
}
.fixed-right-menu .menu-code {
  width: 330px;
  height: 148px;
  background: #fff;
  -webkit-box-shadow: 0 0 8px #E3E3E3;
          box-shadow: 0 0 8px #E3E3E3;
  border: 1px solid #EFEFEF;
  position: absolute;
  top: 50%;
  margin-top: -74px;
  right: 60px;
  z-index: 1100;
  padding: 0 20px 20px 20px;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: .3s ease opacity,.3s ease transform;
  transition: .3s ease opacity,.3s ease transform;
}
.fixed-right-menu .menu-code:before {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 10px;
  cursor: pointer;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #EFEFEF;
  border-right: none;
}
.fixed-right-menu .menu-code:after {
  content: "";
  position: absolute;
  right: -9px;
  top: 50%;
  margin-top: -10px;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 10px;
  cursor: pointer;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #fff;
  border-right: none;
}
.fixed-right-menu .menu-code-name {
  height: 46px;
  line-height: 46px;
}
.fixed-right-menu .menu-code-pic {
  display: block;
  width: 80px;
  height: 80px;
  position: relative;
}
.fixed-right-menu .menu-code-pic img {
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid #EFEFEF;
}
.fixed-right-menu .menu-code-pic .code-tips {
  position: absolute;
  top: 0px;
  left: 96px;
  width: 190px;
  height: 80px;
  border: 1px solid #EFEFEF;
  background-color: #fff;
  background-image: url("../images/bg-train.png");
  background-image: -webkit-image-set(url("../images/bg-train.png") 1x, url("../images/bg-train@2x.png") 2x);
  background-image: image-set(url("../images/bg-train.png") 1x, url("../images/bg-train@2x.png") 2x);
  background-position: right bottom;
  background-repeat: no-repeat;
  line-height: 18px;
  padding: 12px 10px;
  font-size: 12px;
  text-align: left;
}
.fixed-right-menu .menu-code-pic .code-tips:before {
  content: "";
  position: absolute;
  left: -6px;
  top: 34px;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 6px;
  cursor: pointer;
  border-style: dashed solid dashed dashed;
  border-color: transparent #EFEFEF transparent transparent;
  border-left: none;
}
.fixed-right-menu .menu-code-pic .code-tips:after {
  content: "";
  position: absolute;
  left: -5px;
  top: 34px;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 6px;
  cursor: pointer;
  border-style: dashed solid dashed dashed;
  border-color: transparent #fff transparent transparent;
  border-left: none;
}

/*页面加载*/
.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff url(../images/loading2.gif) center center no-repeat;
  z-index: 5000;
  background-size: 100px 100px;
}

/*tooltip提示插件*/
.tooltip {
  position: absolute;
  z-index: 100;
  display: block;
  font-size: 14px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.98;
  filter: alpha(opacity=98);
}
.tooltip.top {
  margin-top: -3px;
  padding: 4px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 4px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 4px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 4px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #3B99FC;
  border-radius: 2px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #3B99FC;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 4px;
  margin-bottom: -4px;
  border-width: 4px 4px 0;
  border-top-color: #3B99FC;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 4px;
  margin-bottom: -4px;
  border-width: 4px 4px 0;
  border-top-color: #3B99FC;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -4px;
  border-width: 4px 4px 4px 0;
  border-right-color: #3B99FC;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -4px;
  border-width: 4px 0 4px 4px;
  border-left-color: #3B99FC;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -4px;
  border-width: 0 4px 4px;
  border-bottom-color: #3B99FC;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 4px;
  margin-top: -4px;
  border-width: 0 4px 4px;
  border-bottom-color: #3B99FC;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 4px;
  margin-top: -4px;
  border-width: 0 4px 4px;
  border-bottom-color: #3B99FC;
}

/*输入框错误提示*/
.tooltip-error {
  position: absolute;
  height: 30px;
  line-height: 28px;
  border: 1px solid #E12525;
  padding: 0 10px;
  border-radius: 4px;
  color: #E12525;
  background: #FFEBEB;
  z-index: 3000;
  white-space: nowrap;
  display: none;
}
.tooltip-error:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -4px;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 4px;
  cursor: pointer;
  border-style: dashed solid dashed dashed;
  border-color: transparent #E12525 transparent transparent;
  border-left: none;
}
.tooltip-error:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -3px;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 4px;
  cursor: pointer;
  border-style: dashed solid dashed dashed;
  border-color: transparent #FFEBEB transparent transparent;
  border-left: none;
}
.tooltip-error .icon {
  margin-right: 4px;
}

/*下拉框组件*/
.down-box {
  position: absolute;
  top: 100%;
  margin-top: 1px;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #EFEFEF;
  z-index: 10;
  display: none;
}
.down-box .down-list li {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
}
.down-box .down-list li:hover {
  background: #E8F3FF;
  color: #3B99FC;
}
.down-box .down-list li.active {
  background: #61ADFD;
  color: #fff;
}

/*标签-最新*/
.label-new {
  display: inline-block;
  border: 1px solid #ffb5b5;
  height: 18px;
  line-height: 16px;
  padding: 0 5px;
  background: #fff;
  color: #FF4646;
  font-size: 12px;
  font-style: normal;
  vertical-align: middle;
}

/*翻页*/
.pagination {
  height: 30px;
  line-height: 30px;
  text-align: right;
}
.pagination .page-num {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}
.pagination .page-num li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.pagination .page-num li a {
  display: block;
  height: 30px;
  border: 1px solid #EFEFEF;
  line-height: 28px;
  padding: 0 5px;
  min-width: 30px;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  background: #F8F8F8;
}
.pagination .page-num li a:hover {
  color: #3B99FC;
}
.pagination .page-num li .icon {
  font-size: 14px;
}
.pagination .page-num .dotted {
  display: block;
  height: 30px;
  line-height: 24px;
  font-size: 14px;
  color: #999;
}
.pagination .page-num .active a,
.pagination .page-num .active a:hover {
  background: #3B99FC;
  border-color: #3B99FC;
  color: #fff;
}
.pagination .page-num .disabled a {
  color: #d2d2d2;
  cursor: not-allowed;
  border-color: #e2e2e2;
}
.pagination .page-num .disabled a:hover {
  color: #d2d2d2;
  border-color: #e2e2e2;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.pagination .page-all {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.pagination .page-all strong {
  margin: 0 3px;
  font-weight: 400;
}
.pagination .page-skip {
  display: inline-block;
  margin-right: 10px;
}
.pagination .page-skip .input, .pagination .page-skip .textarea {
  width: 40px;
  text-align: center;
  margin: 0 5px;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: baseline;
}
.pagination .page-skip .btn {
  margin-left: 10px;
}
.pagination .page-btn {
  background: #F8F8F8;
  vertical-align: top;
  border-radius: 2px;
  min-width: 50px;
}

/*加载中*/
.box-loading {
  height: 100px;
  position: relative;
}
.box-loading img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}

@-webkit-keyframes scale-spring {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-spring {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes up-small {
  0% {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes up-small {
  0% {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes up-lg {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes up-lg {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes width-increase {
  0% {
    width: 0%;
  }
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}
/*
z-index:
header  2000
nav 1900
mask 5000
*/
